<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/json2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery-ui-1.9.2.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/knockout-2.2.0.debug.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/knockout.simpleGrid.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jQuery.tmpl.min.js")" type="text/javascript"></script>
</head>

<body class="ui-widget">
    <a href="@Url.Action("Index", "Home")" >
        <img src="@MMDB.DataService.Web.Helpers.ViewSettingsHelper.LogoUrl" style="border:0px"/>
    </a>
    <div style="float:right" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
		@foreach(var navigationItem in MMDB.DataService.Web.DataServiceHtmlHelper.GetNavigationItems())
		{
			<li class="ui-state-default ui-corner-top" role="tab"><a href="@Url.Action(navigationItem.ActionName,navigationItem.ControllerName)" class="ui-tabs-anchor">@navigationItem.DisplayValue</a></li>
		}
	</ul>
    </div>
    <h1 class="ui-widget-header">@MMDB.DataService.Web.Helpers.ViewSettingsHelper.ApplicationDisplayName Administration</h1>
    @RenderBody()
</body>
</html>
