@using MMDB.DataService.Data.Dto
@using MMDB.DataService.Data.Dto.Jobs
@model IEnumerable<JobStatus>
<table>
    <tr class="ui-widget-header">
        <th>Job Name</th>
		<th>New</th>
		<th>In Process</th>
		<th>Complete</th>
		<th>Error</th>
    </tr>

@foreach (var item in Model) {
    <tr>
		<td>@item.JobDefinition.JobName</td>
		<th>@Html.ActionLink(item.GetStatusCount(EnumJobStatus.New).ToString(), "QueueStatusList", "JobManager", new {jobDefinitionId=item.JobDefinition.Id, status=EnumJobStatus.New}, null)</th>
		<th>@Html.ActionLink(item.GetStatusCount(EnumJobStatus.InProcess).ToString(), "QueueStatusList", "JobManager", new {jobDefinitionId=item.JobDefinition.Id, status=EnumJobStatus.InProcess}, null)</th>
		<th>@Html.ActionLink(item.GetStatusCount(EnumJobStatus.Complete).ToString(), "QueueStatusList", "JobManager", new {jobDefinitionId=item.JobDefinition.Id, status=EnumJobStatus.Complete}, null)</th>
		<th>@Html.ActionLink(item.GetStatusCount(EnumJobStatus.Error).ToString(), "QueueStatusList", "JobManager", new {jobDefinitionId=item.JobDefinition.Id, status=EnumJobStatus.Error}, null)</th>
    </tr>
}

</table>
